*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Montserrat Classic;
  src: url('./fonts/montserrat/Montserrat-Regular.otf');
}
@font-face {
  font-family: Montserrat Hairline;
  src: url('./fonts/montserrat-hairline-maisfontes.03da/montserrat-hairline.otf');
}


:root{
  --primary:#eed16b;
  --secondary:#222222;


}

.App {
  font-family: Montserrat Classic;
  background-color: turquoise;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  z-index: -2;
}
.cartaz_container{
  width:80%;
  position: relative;
  background-color: white;
  box-shadow:  10px 10px 10px 10px rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hairline{
  font-family: Montserrat Hairline;
}

.img{
  left: calc(50vw - 30vh);
  top: calc(50vh - 30vh);
  width: 60vh;
  height: 60vh;
  border-radius: 1000px;


}
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.ball{
  position: absolute;
  background-color: var(--primary);
  border-radius: 2000px;
  border: 5px solid var(--primary);
  overflow: hidden;
 
}
.smaller{
 }
.date_event{
  border-bottom: 5px solid black;
  position: absolute;
  top: 0;
  left: 0;

}
.name_event{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ball:nth-of-type(1){
  width: 60vh;
  height: 60vh;
  top: 50%;  
  left: 0;
  background-color: yellow;
  
}
.ball:nth-of-type(2){
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 10vh;
  right: 0;
}.ball:nth-of-type(3){
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 10vh;
  right: 0;

}.ball:nth-of-type(4){

  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 20vh;
  right: 0;
}.ball:nth-of-type(5){
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 30vh;
  left: 0;

}.ball:nth-of-type(6){
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 40vh;
  right: 0;

}.ball:nth-of-type(7){

  width: 100px;
  height: 100px;
  background-color: var(--primary);
  top: 50vh;
  right: 0;
}